import collections
import csv
import dataclasses
import datetime
import itertools
import json
import pathlib
import sys
import typing
import random

CURRENT_PATH = pathlib.Path(__file__).resolve().parent
DATASET_PATH = pathlib.Path(__file__).resolve().parent.parent
UTILS_PATH = CURRENT_PATH.parent.parent.parent
sys.path.append(str(UTILS_PATH))
from utils import DataUtil
import faker

fake = faker.Faker()

{% for table in tables -%}
{{ table.lower() }}_out = []
@dataclasses.dataclass
{{ Table.table_name(table) }}
{{ Table.init_fields(table, tables) }}
{{ Table.parse_relationships(table, tables) }}
{{ Table.post_init(table, tables) }}
{{ Table.append_output(table, tables) }}
{{ Table.print_str(table, tables) }}
{%- endfor %}
if __name__ == "__main__":
  for i in range({{ num_of_records}}):
    {% for table in tables -%}
    print({{ table }}())
    {% endfor %}
{% for table in tables -%}
keys = {{ table.lower() }}_out[0].keys()
a_file = open(f"{str(DATASET_PATH)}/output/{{ table.lower() }}.csv", "w")
dict_writer = csv.DictWriter(a_file, keys)
dict_writer.writeheader()
dict_writer.writerows({{ table.lower() }}_out)
{% endfor %}